[build]
  base = "frontend/"
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_API_BASE_URL = "https://your-backend-url.com/api"
  SECRETS_SCAN_OMIT_KEYS = "VITE_API_BASE_URL"

[context.production]
  command = "npm run build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200